<body>
    <%- include("partials/header") %>
    <main>
        <h2>Questions & Answers</h2>

        <form class="form-box" action="/ask" method="POST">
            <input name="name" placeholder="Name" required>
            <textarea name="question" placeholder="Your question..." required></textarea>
            <button>Submit Question</button>
        </form>

        <% questions.forEach(q => { %>
            <div class="review-card">
                <p><strong><%= q.name %></strong></p>
                <p><%= q.question %></p>

                <% if(q.answer){ %>
                    <p><strong>Answer:</strong> <%= q.answer %></p>
                <% } %>
            </div>
        <% }) %>
    </main>
    <%- include("partials/footer") %>
</body>